html {
    background-color: #34495e;
    color: #ecf0f1;
    height:100%;
    margin:0;
}
body {
    width: 100%;
    margin: 0;
    height:100%;
    tsext-align: center;
    font-family: sans-serif;
}
code {
    background-color: #f7f7f7;
    color: #000000;
}
.canvas-cont {
    width:100%;
    height:calc( 100% - 43px );
    overflow:hidden;
    box-sizing:border-box;
}
#canvas {
    dbox-sizing:border-box;
}
.calx-hidden{
    display:none;
}